/* PHASE 1: Header */


header {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
  background: #f00;
}

header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

ul li {
  border-left: 1px solid #ccc;
  display: flex;
}

.header-list {
    float: right;
    display: flex;
  }
